<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ねこったー</title>
  </head>
  <body>
    <header>
      <h1>ねこったー</h1>
    </header>
    <div class="contents">
      <% @tweets.each do |cat| %>
      <div class="message clearfix">
        <%= image_tag "cat1.png" %>
        <div class="message_box">
          <p class="user_name">
            野良猫1号
          </p>
          <p class="text">
            <%= cat.text %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </body>
</html>
